body {
	background-color: black;
}

.guesses {
	margin: 1em auto;
	width: 20em;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: auto auto auto auto;
}

.guess {
	width: 2em;
	height: 2em;
	border-radius: .0625em;
	background-color: white;
	font-size: 200%;
	margin: 0em;
	text-align: center;
}

.guess p {
	margin-top: .4em;
}

.keyRow {
	margin: auto;
	width: fit-content;
	height: 4em;
}

.key {
	background-color: white;
	width: 4em;
	height: 4em;
	border-radius: .25em;
	border: white;
	float: left;
	margin: .25em;
	vertical-align: middle;
}

.keyboard {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#gameEndMessage {
	text-align: center;
	color: white;
}

h1 {
	color: white;
	text-align: center;
}